body {
  overflow-x: hidden;
}
.sidebar {
  height: 100vh;
  background-color: #136ac2;
  padding-top: 1rem;
  /* adjust to leave space for navbar */
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}
.sidebar a {
  color: white;
  padding: 0.75rem 1rem;
  display: block;
  text-decoration: none;
}
.sidebar a:hover {
  background-color: #495057;
  color: #fff;
}
